</html>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Market suppliers</title>

    <script>
        function erase(id){
            document.getElementById('id').value=id;
            document.getElementById('formDelete').submit();
        }
    </script>
  </head>
  <body>
    <br>
    
    <div class="row text-centered mg-5">
        <div class="col-6 offset-sm-2">
            <form action="/sell" method="post">
            <div class="card">
                <div class="card-header">Assign products - suppliers</div>
                <div class="card-body">
                    <div class="form-group>">
                        Product
                        <select class="form-control" id="product" name="product" >
                            <option value="">-----</option>
                            {% for item in Products %}
                                <option value="{{ item['id'] }}">{{ item['product'] }}</option>
                            {% endfor %}
                        </select>     
                    </div>
                    <div class="form-group>">
                        Suppliers
                        <select class="form-control" id="supplier" name="supplier" >
                            <option value="">-----</option>
                            {% for item in Suppliers %}
                                <option value="{{ item['id'] }}">{{ item['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group>">
                        Price
                        <input type="number" name="price" class="form-control">
                    </div>
                    <div class="form-group>">
                        Currency
                        <select class="form-control" id="currency" name="currency" >
                            <option value="">-----</option>
                            {% for item in Currencies %}
                                <option value="{{ item['id'] }}">{{ item['abbreviation'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="row text-centered">
        <div class="col-8 offset-sm-2">

            <table class="table table-bordered table-sm">
                <tr class="table-primary">
                <td>LIST OF PRODUCTS - SUPPLIERS</td>
            
                </tr>
                <tr>
                    <td>Product</td>
                    <td>Supplier</td>
                    <td>Price</td>
                    <td>Currency</td>
                </tr>
            {% for item in table %}
                <tr>
                <td>{{  item[1] }}</td>     
                <td>{{  item[2] }}</td>  
                <td>{{  item[3] }}</td>     
                <td>{{  item[4] }}</td>  
                <td><button type="button" onclick="erase(this.id)"  id="{{  item[0] }}" class="btn btn-danger btn-sm">Delete</button></td>  
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <form id="formDelete" action="/sellDelete" method="post">
        <input type="hidden" name="id" id="id" >
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>